rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /scoreboards/{scoreboardId} {
      allow read: if true;
      allow create, update: if request.auth != null
        && request.auth.uid == "h7oze07kOKWsDSYG6VovScCoigU2";
      allow delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
